<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="companyMapper">

	<resultMap id="companyResult" type="Company">
		<result column = "comp_name" property="companyName"/>
		<result column = "comp_ceo_name" property="ceoName"/>
		<result column = "comp_reg_no" property="regNo"/>
		<result column = "comp_email" property="email"/>
		<result column = "comp_buss_status" property="bussStatus"/>
		<result column = "comp_buss_kind" property="bussKind"/>
		<result column = "comp_phone" property="phone"/>
		<result column = "comp_hp" property="homePage"/>
		<result column = "comp_cor_no" property="corNo"/>
		<result column = "comp_fax" property="fax"/>
		<result column = "comp_est_date" property="estDate"/>
		<result column = "comp_address" property="address"/>
		<result column = "comp_ceo_eng" property="ceoEng"/>
		<result column = "comp_name_eng" property="cnameEng"/>
		<result column = "comp_address_eng" property="addressEng"/>
		<result column = "origin_name" property="originName"/>
		<result column = "change_name" property="changeName"/>
	</resultMap>

	<select id="companyInfo" resultMap="companyResult">
		select
			   comp_name
			 , comp_ceo_name
			 , comp_reg_no
			 , comp_email
			 , comp_buss_status
			 , comp_buss_kind
			 , comp_phone
			 , comp_hp
			 , comp_cor_no
			 , comp_fax
			 , to_char(comp_est_date, 'YYYY-MM-DD') as comp_est_date
			 , comp_address
			 , comp_ceo_eng
			 , comp_name_eng
			 , comp_address_eng
			 , origin_name
			 , change_name
	      from company
	     where comp_no = '1'
	
	</select>

	<update id="updateCompany">
		update
		       company
		   set comp_name = #{ companyName }
		  	 , comp_ceo_name = #{ ceoName }
		  	 , comp_reg_no = #{ regNo }
		  	 , comp_email = #{ email }
		  	 , comp_buss_status = #{ bussStatus }
		  	 , comp_buss_kind = #{ bussKind }
		  	 , comp_phone = #{ phone }
		  	 , comp_hp = #{ homePage }
		  	 , comp_cor_no = #{ corNo }
		  	 , comp_fax = #{ fax }
		  	 , comp_est_date = #{ estDate }
		  	 , comp_address = #{ address }
		  	 , comp_ceo_eng = #{ ceoEng }
		  	 , comp_name_eng = #{ cnameEng }
		  	 , comp_address_eng = #{ addressEng }
		  	 , origin_name = #{ originName }
		  	 , change_name = #{ changeName }
	     where comp_no = #{ companyNo }
	</update>

</mapper>