<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="marketMapper">

	<resultMap id="marketResult" type="Market">
		<result column="market_no" property="marketNo"/>
		<result column="market_no" property="memNo"/>
		<result column="market_writer" property="marketWriter"/>
		<result column="market_title" property="marketTitle"/>
		<result column="market_content" property="marketContent"/>
		<result column="market_date" property="marketDate"/> 
		<result column="market_section" property="marketSection"/>
		<result column="price" property="price"/>
		<result column="productImg" property="productImg"/>
		<result column="p_like" property="productLike"/>
		<result column="count" property="count"/>
		<result column="origin_name" property="originName"/>
		<result column="change_name" property="changeName"/>
	</resultMap>
	
	<resultMap id="replyResult" type="Reply">
		<result column="reply_no" property="replyNo"/>
		<result column="mem_no" property="memNo"/>
		<result column="ref_section" property="refSection"/>
		<result column="ref_no" property="refNo"/>
		<result column="reply_content" property="replyContent"/>
		<result column="reply_writer" property="replyWriter"/> 
		<result column="create_date" property="createDate"/>
		<result column="status" property="status"/>
	</resultMap>
	
	<resultMap id="reportResult" type="Report">
		<result column="rp_code" property="rpCode"/>
		<result column="rp_id" property="rpId"/>
		<result column="rp_date" property="rpDate"/>
		<result column="board_type" property="boardType"/>
		<result column="rp_type" property="rpType"/> 
		<result column="rp_no" property="rpNo"/> 
		<result column="rp_section" property="rpSection"/>
		<result column="rp_content" property="rpContent"/>
		<result column="handling_date" property="handlingDate"/>
		<result column="status" property="status"/>
	</resultMap>
	
	
	<!-- 사용자 : 벼룩시장 글 총 갯수  -->
	<select id="marketListCount" resultType="_int">
		select 
		       count(*)
		  from market
		 where status = 'Y' 
	</select>

	<!-- 사용자 : 벼룩시장 리스트 조회 -->
	<select id="selectMarketList" resultMap="marketResult">
		select
			   market_no
		     , market_title
		     , market_writer
		     , to_char(market_date, 'YYYY-MM-DD') as market_date
             , market_section
             , price
             , p_img as productImg
             , p_like
             , count
		  from market
		 where status = 'Y'
		 order 
		    by market_no desc      
	</select>
	
	<!-- 사용자 : 벼룩시장 리스트 검색바  -->
	<select id="marketSearchListCount" resultType="_int">
		select count(*)
		  from market
		 where status = 'Y' 
		<choose>
			<when test="condition == 'title'">
				and market_title
			</when>
			<otherwise>
				and market_writer
			</otherwise>
		</choose>
				like '%' || #{keyword} || '%' 
	</select>

	<!-- 사용자 : 벼룩시장 리스트 검색바 -->
	<select id="marketSearchList" resultMap="marketResult">
		select 
				market_no
			  , market_title
			  , market_writer
			  , to_char(market_date, 'YYYY-MM-DD') as market_date
	          , market_section
	          , price
	          , p_img as productImg
	          , p_like
	          , count
	       from market
	      where status = 'Y'         
			<choose>
				<when test="condition == 'title'">
			   		and market_title
			    </when>
				<otherwise>
					and market_writer
				</otherwise>
			</choose>
					like '%' || #{keyword} || '%'
			  order
			     by market_no desc 
	</select>
	
	
		
	<!-- 사용자 : 벼룩시장 게시글 조회수 증가 -->
	<update id="increaseMarketCount">
		update
		       market
		   set count = count+1
		 where market_no = #{marketNo}
		   and status = 'Y'     
	</update>

	<!-- 사용자 : 벼룩시장 상세 조회 -->
	<select id="selectMarket" resultMap="marketResult">
		select
			   market_no
		     , market_title
		     , market_writer
		     , market_content
		     , to_char(market_date, 'YYYY-MM-DD') as market_date
		     , market_section
             , price
             , p_img as productImg
             , p_like
             , count
		     , origin_name
			 , change_name
 		  from market mk
          left outer join board_file on(market_no = ref_bno)
		 where market_no = #{marketNo}
           and mk.status = 'Y'
	</select>
	
		
	<!-- 사용자 : 벼룩시장 글 등록 -->
	<insert id="insertMarket">
		insert 
		  into market
		values(
		            seq_mkno.nextval
		          , #{ memNo}  
		          , #{ marketWriter }
				  , #{ marketTitle }
				  , #{ marketContent }
		          , sysdate
		          , '판매중'
		          , #{ price }
                  , #{ productImg }
                  , 0
                  , 0
                  , 'Y'
				)
	</insert>
	
	<!-- 사용자 : 벼룩시장 글 삭제 -->
	<update id="deleteMarket">
			update
				  market
			  set status = 'N'
			where market_no = #{marketNo}  		
	</update>
	
	<!-- 사용자 : 벼룩시장 글 수정 -->
	<update id="updateMarket">
		update
			   market
		   set market_title = #{marketTitle}
		     , market_content = #{marketContent}
		     , p_img = #{productImg}
		 where market_no = #{marketNo}
	</update>	
	
	
		
	<!-- 사용자 : 벼룩시장 댓글 조회 -->
	<select id="marketReplyList" resultMap="replyResult">
		select 
		       reply_no
		     , reply_content
		     , reply_writer
		     , to_char(create_date, 'YYYY-MM-DD') create_date
		  from reply
		 where status = 'Y'
		   and ref_no = #{marketNo}    
	</select>
	
	<!-- 사용자 : 벼룩시장 댓글 등록 -->
	<insert id="insertMarketReply">
		insert
			  into reply
			  values
			  (
			   	seq_rno.nextval
	          , #{ memNo }
	          , '벼룩'
	          , #{refNo} 
			  , #{replyContent}
			  , #{replyWriter}
			  , sysdate 
	          , default
			  )  
	</insert>


	<!-- 사용자 : 벼룩시장 신고하기 -->
	<insert id="marketReport">
		insert
		  into report
              (
                rp_code
              , rp_id
              , board_type
              , rp_type
              , rp_no
              , rp_section
              , rp_content
              )
			  values
			  (
			   	seq_brpno.nextval
	          , #{rpId}
	          , #{boardType}
	          , #{rpType} 
			  , #{rpNo}
			  , #{rpSection}
              , #{rpContent}
			  )  
	</insert>

	

</mapper>
