<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reservationMapper">
	
	<resultMap id="reCategoryResult" type="ReCategory">
		<result column="category_no" property="categoryNo" />
		<result column="category_name" property="categoryName" />
	</resultMap>
	
	<resultMap id="resourceResult" type="Resources">
		<result column="resource_no" property="resourceNo" />
		<result column="category_no" property="categoryNo" />
		<result column="category_name" property="categoryName" />
		<result column="resource_name" property="resourceName" />
	</resultMap>
	
	<resultMap id="reservationResult" type="Reservation">
		<result column="rez_no" property="rezNo" />
		<result column="resource_no" property="resourceNo" />
		<result column="resource_name" property="resourceName" />
		<result column="mem_no" property="memNo" />
		<result column="rez_writer" property="rezWriter" />
		<result column="use_for" property="useFor" />
		<result column="rez_date" property="rezDate" />
		<result column="rez_starttime" property="startTime" />
		<result column="rez_endtime" property="endTime" />
		<result column="apply_date" property="applyDate" />
		<result column="status" property="status" />
		<result column="category_name" property="categoryName"/>
		<result column="category_no" property="categoryNo"/>
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		select count(*)
		  from reservation
		 where status = 'Y'
		   and rez_writer = #{memNo}
	</select>
	
	<select id="selectResourceList" resultMap="resourceResult">
		select resource_no
			 , category_no
			 , category_name
			 , resource_name
		  from resources
		  join re_category using (category_no)
		 where category_no = #{caNo}
	</select>
	
	<select id="selectReservationList" resultMap="reservationResult">
		select rez_no
		     , re.resource_no
		     , re.resource_name
		     , mem_no
		     , mem_name as rez_writer
		     , use_for
		     , rez_date
		     , rez_starttime
		     , rez_endtime
		     , apply_date
		     , r.status
		     , category_no
		  from reservation r
		  join resources re on (re.resource_no = r.resource_name)
		  join member m on (mem_no = rez_writer)
		 where r.status = 'Y'
	</select>
	
	<select id="selectReservationDetail" resultMap="reservationResult">
		select rez_no
			 , re.resource_no
		     , re.resource_name
		     , mem_no
		     , mem_name as rez_writer
		     , use_for
		     , rez_date
		     , rez_starttime
		     , rez_endtime
		     , apply_date
		     , r.status
		  from reservation r
		  join resources re on (re.resource_no = r.resource_name)
		  join member m on (mem_no = rez_writer)
		 where r.status = 'Y'
		   and rez_no = #{rezNo}
	</select>
	
	<select id="selectCategoryList" resultMap="reCategoryResult">
		select *
		  from re_category
	</select>
	
	<select id="selectMyReservationList" resultMap="reservationResult">
		select rez_no
		     , re.resource_no
		     , re.resource_name
		     , mem_no
		     , mem_name as rez_writer
		     , use_for
		     , rez_date
		     , rez_starttime
		     , rez_endtime
		     , apply_date
		     , category_name
		  from reservation r
		  join resources re on (re.resource_no = r.resource_name)
		  join member m on (mem_no = rez_writer)
		  join re_category using (category_no)
		 where r.status = 'Y'
		   and rez_writer = #{memNo}
	</select>
	
	<select id="selectResourcesManage" resultMap="resourceResult">
		select resource_no
			 , resource_name
		     , cateogry_no
		     , category_name
		  from resources
		  join re_category using (category_no)
		 where category_no = #{categoryNo};
	</select>
	
	<insert id="insertReservation">
		insert
		  into reservation
		  	   (
		  	     rez_no
		  	   , resource_name
		  	   , rez_writer
		  	   , use_for
		  	   , rez_date
		  	   , rez_starttime
		  	   , rez_endtime
		  	   , apply_date
		  	   , status
		  	   )
		 values
		 	   (
		 	     seq_rreno.nextval
		 	   , #{resourceName}
		 	   , #{rezWriter}
		 	   , #{useFor}
		 	   , #{rezDate}
		 	   , #{startTime}
		 	   , #{endTime}
		 	   , sysdate
		 	   , 'Y'
		 	   )
	</insert>
	
	<update id="updateReservation">
		update reservation
		   set 
		   	   resource_name = #{resourceName}
		   	 , use_for 		 = #{useFor}
		   	 , rez_date 	 = #{rezDate}
		   	 , rez_starttime = #{startTime}
		   	 , rez_endtime   = #{endTime}
		   	 , apply_date 	 = sysdate
		 where 
		 	   rez_no = #{rezNo}
	</update>
	
	<update id="deleteReservation">
		update reservation
		   set status = 'N'
		 where rez_no = #{rezNo}
	</update>
	
	<update id="updateReCategory">
		update re_category
		   set category_name = #{categoryName}
		 where category_no = #{categoryNo}
	</update>
	
	<update id="updateResource">
		update resources
		   set resource_name = #{resourceName}
		 where resource_no = #{resourceNo}
	</update>
	
	<insert id="insertReCategory">
		insert 
		  into re_category
		  	   (
		  	     category_no
		  	   , category_name
		  	   )
		 values
		 	    (
		 	      seq_rcno.nextval
		 	    , #{categoryName}
		 	    )
	</insert>
	
	<insert id="insertResource">
		insert 
		  into resources
		  	   (
		  	     resource_no
		  	   , category_no
		  	   , resource_name
		  	   )
		 values
		 	    (
		 	      seq_rsno.nextval
		 	    , #{categoryNo}
		 	    , #{resourceName}
		 	    )
	</insert>
	
	<delete id="deleteReCategory">
		delete
		  from re_category
		 where category_no = #{caNo}
	</delete>
	
	<delete id="deleteResource">
		delete
		  from resources
		 where resource_no = #{reNo}
	</delete>
	
	
</mapper>