<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="statisticMapper">

	<!-- @author Jaewon.s -->

	<resultMap id="adminLogResult" type="AdminLog">
		<result column="log_no" property="logNo"/>
		<result column="developer_name" property="developerName"/>
		<result column="modification_content" property="modificationContent"/>
		<result column="enroll_date" property="enrollDate"/>
	</resultMap>

	<!-- vo새로만드는것보다  기존에 있는 것 활용 -->
	<resultMap id="adminDeptResult" type="Department">
		<result column="countbymaxmem" property="depNo"/>
		<result column="dep_mem_count" property="depNo"/>
		<result column="dep_name" property="depName"/>
		<result column="parent_dep" property="parentDep"/>
		<result column="dep_class" property="depClass"/>
		<result column="total_employee" property="depClass"/>
		<result column="total_officer" property="parDepclass"/>
	</resultMap>


	<!-- adminLog 조회용 sql문  -->
	<select id="ajaxSelectAdminLog" resultMap="adminLogResult">
		select 
				log_no
			  , developer_name
			  , modification_content
			  , to_char(enroll_date, 'YYYY-MM-DD') as enroll_date
			  
		  from (
		        select log_no, developer_name, modification_content,enroll_date
		          from admin_log
		         order 
		            by rownum desc)
		  where rownum = 1    
	</select>

	<!-- adminLog insert용 sql문  -->
	<insert id="ajaxInsertAdminLog">
		insert 
		  into admin_log
		       (
		   		  log_no
		   	    , developer_name
		   	    , modification_content
		   		)
		values
		       (
		         seq_adlgno.nextval
		       , #{ developerName }
		       , #{ modificationContent }  
		       )		 
	</insert>
	
	<!--관리자페이지 메인 오른쪽 상단 부서별 인원현황 데이터 가져오는 controller -->
	<select id="ajaxSelectRightTopDept" resultMap="adminDeptResult">
		select 
		    dp.dep_name  
		  , round((count(dep_name)/(select max(count(department)) from member where status in ('Y','A') group by department))* 100) as countByMaxMem
		  from department dp
		  join (select department from member where status in ('Y','A')) mb
		    on(dp.dep_name = mb.department)   
		group by dp.dep_name
		having dep_name != '대표이사'
		order by
		  (case dep_name when '경영관리본부' then '1' when '인사팀' then '2'
		   when '총무팀' then '3' when '회계팀' then '4' when '개발본부' then '5'
		   else '6' end), (case dep_name  when '개발1팀' then '1' when '개발2팀' then '2'
		   when '인프라팀' then '3' when '운영본부' then '4' when '운영팀' then '5'
		   when '구매팀' then '6' else '7'end)
	</select>
	
	<!-- 관리자페이지 메인 오른쪽 하단 전체 인원수와 pie차트에 담은 데이터 조회용 sql문  -->
	<select id="selectRightBottomChart" resultMap="adminDeptResult">
		select 
		    dp.dep_name as dep_name 
		  , count(dep_name) as dep_mem_count
		  , (select count(*) from member where status in ('Y','A')) as dep_class
		  from department dp
		  join (select department from member where status in ('Y','A')) mb
		    on(dp.dep_name = mb.department)   
		group by dp.dep_name
		having dep_name != '대표이사'
		order by
		  (case dep_name when '경영관리본부' then '1' when '인사팀' then '2'
		   when '총무팀' then '3' when '회계팀' then '4' when '개발본부' then '5'
		   else '6' end), (case dep_name  when '개발1팀' then '1' when '개발2팀' then '2'
		   when '인프라팀' then '3' when '운영본부' then '4' when '운영팀' then '5'
		   when '구매팀' then '6' else '7'end)		
	</select>

	<!-- table 형태의 표에 자료를 가져오는 sql문 -->
	<select id="selectTableAreaDate" resultMap="adminDeptResult">
		select 
                case when dp.parent_dep = '대표이사' then dep_name else dp.parent_dep end as parent_dep 
		      , dp.dep_name as dep_name
              , count(mem_no) - count(case when rank = '상무' or rank = '대표이사' then '임원' end) as total_employee
              , count(case when rank = '상무' or rank = '대표이사' then '임원' end) as total_officer
		  from department dp 
          join member mb on(mb.department = dp.dep_name) 
          where mb.status in ('Y','A')
        group by dp.dep_name, dp.parent_dep 
        order by 
                 case when dep_name = '경영관리본부' then 1 
                      when dep_name = '인사팀' then 2
                      when dep_name = '총무팀' then 3
                      when dep_name = '회계팀' then 4
                      when dep_name = '개발본부' then 5
                      when dep_name = '개발1팀' then 6
                      when dep_name = '개발2팀' then 7
                      when dep_name = '인프라팀' then 8
                      when dep_name = '운영본부' then 9
                      when dep_name = '운영팀' then 10
                      when dep_name = '영업팀' then 11
                      when dep_name = '구매팀' then 12
                 end      
                 NULLS first
	</select>
	
	
	<!-- month에는 월을 0부터 11까지 담아오고 -->
	<resultMap id="adminMiddleChartResult" type="Statistic">
		<result column="months" property="months"/>
		<result column="avg_total_work_hour" property="avgTotalWorkHour"/>
		<result column="join_mem" property="joinMem"/>
		<result column="resign_mem" property="resignMem"/>
	</resultMap>
	
	
	<!-- 바 차트로 입사 퇴사정보 가져오는 -->
	<!-- 일단 일반 반복문은 쓸수가 없고 
		bind 사용해서 배열 선언해놓고 사용할까 ?
	 -->
	<select id="selectJoinAndResignDate" resultMap="adminMiddleChartResult" parameterType="string">
		<bind name="months" value="{1,2,3,4,5,6,7,8,9,10,11,12}"/>
		
		<foreach collection="months" item="month">
		select *
		from (
		select '${month}' as months
		       , count(mem_no) as join_mem 
		from member 
		where RESIGN_DATE is null 
		  and status = 'Y'
		  and enroll_date between TO_date('${curYear}-${month}','YYYY-MM') 
		                     and  TO_date('${curYear}-${month}-' || to_char(last_day(to_date('${curYear}-${month}','YYYY-MM')),'DD'), 'YYYY-MM-DD')
		), 
		(select count(mem_no) as resign_mem
		from member 
		where RESIGN_DATE is not null 
		  and RESIGN_DATE between TO_date('${curYear}-${month}','YYYY-MM') 
		                     and  TO_date('${curYear}-${month}-' || to_char(last_day(to_date('${curYear}-${month}','YYYY-MM')),'DD'), 'YYYY-MM-DD')
		  and status = 'N')	
		<if test="month != 12">
			union all
		</if>
		</foreach>
	</select>
	
	<!-- 메인페이지 근태 정보 가져오는 sql문  -->
	<select id="selectAttendanceDate" resultMap="adminMiddleChartResult" parameterType="string">
		<bind name="months" value="{1,2,3,4,5,6,7,8,9,10,11,12}"/>
		
		<foreach collection="months" item="month">
		select round(totalTime / (select count(mem_no) from member where status in ('Y', 'A')) 
		    / (select to_char(last_day(to_date('${curYear}-${month}','YYYY-MM')),'DD')from dual), 2) as avg_total_work_hour
		from(select sum(att_total_time) as totalTime
				from attendance
				where to_date(to_char(to_date(att_date, 'MM/DD/YYYY'), 'YYYY-MM-DD'), 'YYYY-MM-DD')
		        between TO_date('${curYear}-${month}','YYYY-MM') 
				   and  TO_date('${curYear}-${month}-' || to_char(last_day(to_date('${curYear}-${month}','YYYY-MM')),'DD'), 'YYYY-MM-DD'))
		<if test="month != 12">
			union all
		</if>
		</foreach>
	</select>
</mapper>
